* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  margin-right: 1vw;
}

.icon {
  margin-right: 2vw;
  margin-left: 1vw;
  cursor: pointer;
}

.name {
  font-weight: 1000;
}

button {
  cursor: pointer;
}

p {
  font-weight: 1000;
  font-size: 20px;
}

.sidebar {
  background-color: rgb(0, 170, 255);
  display: grid;
  grid-template-rows: 0.5fr 4fr;
  z-index: 2;
  height: 100%;
}

.sidebar .side-title {
  display: flex;
  align-items: center;
  margin: 5vh 2vw;
}

.sidebar .side-title .site-name {
  color: aliceblue;
  font-size: max(2.25vw, 20px);
  font-weight: 700;
}

.sidebar .menu ul {
  margin-bottom: max(10px, 6vh);
}

.sidebar .menu li {
  list-style: none;
  margin-left: 2vw;
}

.sidebar .menu li:not(:last-child) {
  margin-bottom: 2.5vh;
}

.sidebar .menu a {
  display: flex;
  align-items: center;
}

.sidebar .menu a:link {
  text-decoration: none;
  color: aliceblue;
  font-size: max(1.75vw, 15px);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main .header {
  display: grid;
  grid-template-rows: 1fr 1fr 15px;
  align-items: center;
  box-shadow: 0px 7px 5px #aaaaaa;
  z-index: 1;
  max-height: 250px;
  position: sticky;
  top: 1px;
  background-color: rgba(255, 255, 255, 0.9);
}

.header .header-top {
  display: flex;
  flex-direction: row;
  margin-left: 1.75vw;
  margin-right: 5vw;
}

.header-top .small-user-icon {
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  background-color: rgb(255, 179, 0);
  border-radius: 50%;
  align-self: center;
}

.header-top label {
  align-self: center;
}

.header-top input[type="search"] {
  border: none;
  border-radius: 15px;
  background: #e9e9e9;
  border: none;
  text-decoration: none;
  align-self: center;
  width: 37vw;
  height: 3vh;
  margin-right: auto;
  padding: 0.35em 0.75em;
  font-size: 1.1em;
}

input[type="search"]:focus {
  background-color: rgb(220, 237, 244);
  color: rgb(0, 0, 0);
  transition: background 400ms ease-in-out;
  outline: none;
}

.header-top .small-user-name {
  align-self: center;
  cursor: pointer;
  font-size: max(0.85vw, 15px);
}

.header .header-second {
  display: flex;
  margin-left: 1vw;
  margin-right: 5vw;
}

.header-second .large-user-icon {
  width: min(7vh, 5vw);
  height: min(7vh, 5vw);
  background-color: rgb(255, 179, 0);
  border-radius: 50%;
  align-self: center;
}

.header-second .introduction {
  margin-right: auto;
  align-self: center;
}

.header-second .introduction .large-user-name {
  font-size: max(1.25vw, 17px);
}

.header-second button {
  margin-left: 2vw;
  align-self: center;
  width: min(10.8vh, 12vw);
  height: min(4.5vh, 5vw);
  border-radius: 30px;
  border: none;
  color: aliceblue;
  background-color: rgb(0, 142, 213);
  font-size: min(1.8vh, 2vw);
}

.main-content {
  background-color: rgb(211, 211, 211);
  display: grid;
  grid-template-columns: 2.8fr 1fr;
  padding: 3.5vh 1vw;
  gap: 20px;
  height: 100%;
}

.project-container-XL > p,
.announcements-container-XL > p,
.treading-container-XL > p {
  margin-bottom: 15px;
}

.treading-container-XL > p {
  margin-top: 25px;
}

.main-content .project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project-container .card {
  background-color: #fff;
  border-radius: 8px;
  border-left: 8px #dfa700 solid;
  padding: 20px 20px;
  box-shadow: 0px 7px 5px #aaaaaa;
  display: flex;
  flex-direction: column;
}

.project-container .card span {
  flex: 1;
}

.project-container .project-container-icon {
  margin-left: auto;
}

.side-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.announcements-container {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  box-shadow: 0px 7px 5px #aaaaaa;
  border-left: 8px #3fdf00 solid;
  gap: 30px;
}

.accouncement-border {
  background-color: rgb(49, 53, 55);
  width: 100%;
  height: 1px;
}
.announcement {
  align-self: center;
}

.announcement span {
  font-size: 14px;
}

.treading-container {
  background-color: #fff;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 20px 20px;
  box-shadow: 0px 7px 5px #aaaaaa;
  border-left: 8px #0095df solid;
  gap: 10px;
}

.treading-container .treading {
  display: flex;
}

.treading-container .treading:nth-child(1) .small-user-icon {
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  background-color: rgb(0, 255, 106);
  border-radius: 50%;
  align-self: center;
}

.treading-container .treading:nth-child(2) .small-user-icon {
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  background-color: rgb(89, 0, 255);
  border-radius: 50%;
  align-self: center;
}

.treading-container .treading:nth-child(3) .small-user-icon {
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  background-color: rgb(191, 255, 0);
  border-radius: 50%;
  align-self: center;
}

.treading-container .treading:nth-child(4) .small-user-icon {
  width: min(5vh, 2.5vw);
  height: min(5vh, 2.5vw);
  background-color: rgb(255, 94, 0);
  border-radius: 50%;
  align-self: center;
}
